<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="LINQandSQL.Properties.Settings.DataBaseLinqSql" connectionString="Data Source=MNB179\SQLEXPRESS;Initial Catalog=FirstDataBase;User ID=sa;Password=96120428362Jf"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>